<div class="social">
    <ul>
        <li><a href="#"><img src="{{ asset('bundles/rawafed/images/facebook-ico.png') }}" alt=""></a></li>
        <li><a href="#"><img src="{{ asset('bundles/rawafed/images/tweet-ico.png') }}" alt=""></a></li>
        <li><a href="#"><img src="{{ asset('bundles/rawafed/images/rss-ico.png') }}" alt=""></a></li>
    </ul>
</div>
<div class="logo1"><img src="{{ asset('bundles/rawafed/images/footer_logo.png') }}" width="68" height="37" alt="rawafed" /></div>
<div class="links">
    <ul class="nav ">
        <li class="current"><a id="link-home" class="info_link" href="{{ path('RawafedBundle_home') }}">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</li>
        <li>
            <a id="link-contactus" class="info_link" href="{{ path('RawafedBundle_contactus') }}">Contact Us</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    </ul>
</div>
<div class="copyrights ">©2012 Rawafed. All Rights Reserved</div>

</footer>